<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bms.cschat">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CS Chat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cschat">
        <activity
            android:name=".NewTimetable"
            android:exported="false"
            android:parentActivityName=".TimeTable"/>
        <activity
            android:name=".TimeTable"
            android:exported="false"
            android:parentActivityName=".HomeScreen"/>
        <activity
            android:name=".NewNote"
            android:exported="false"
            android:parentActivityName=".Notes"/>
        <activity
            android:name=".Notes"
            android:exported="false"
            android:parentActivityName=".HomeScreen"/>
        <activity
            android:name=".Browser"
            android:exported="false"
            android:parentActivityName=".HomeScreen" />
<!--        TODO: Change it back to Homescreen-->
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>